@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Quicksand:wght@500&display=swap');



body {
    background: white;
    max-width: 800px;
    margin: 2rem auto;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

h1 {
    background-color: darkgreen;
    color: white;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

button {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    border-radius: 30px;
    border: 0px;
    margin: 0px auto;
    display: block;
    font-family: 'Quicksand', sans-serif;
}